<div class="ui grid">
	<div class="eight wide column">
		<h1>Employee Details</h1>
		<b>Name:</b> <%= @employee.name %>
		<br/>
		<br/>
		<b>Phone:</b> <%= number_to_phone @employee.phone %>
		<br/>
		<br/>
		<b>Date of Birth:</b> <%= @employee.date_of_birth.strftime("%m/%d/%y") %>
		<br/>
		<br/>
		<% if current_user.employee.role == "admin"%>
		<b>SSN:</b> <%= @employee.ssn %>
		<br/>
		<br/>
		<% end %>
		<b>Role:</b> <%= @employee.role.titleize %>
		<br/>
		<br/>
		<% if current_user.employee.role == "admin"%>
		<b>Active: </b>
		<% if @employee.active? %>
		Yes
		<% else %>
		No
		<% end %>
		<br/>
		<br/>
		<% end %>
		<% if current_user.employee.role == "admin" %>
		<%= link_to "<button class='ui basic green button'>
		<i class='icon edit'></i>
		Edit Employee
		</button>".html_safe, edit_employee_path(@employee)  %>
		<% end %>
		<br/>
		<% if can? :update, Shift %>
		<div id="adding_new_shift">
		</div>
		<div id="adding_new_shift_button">
			<%= render 'shifts/new_shift_button' %>
		</div>
		<% end %>
	</div>
	<br/>
	<% if current_user.employee.role == "admin"%>
	<div class="six wide column">
		<h1>Assignment History</h1>
		<br/>
		
		<%= render 'assignment_history_table' %>
		<br/><br/>
	</div>
	<% end %>
</div>