<%= form_for @assignment do |f| %>
<% if @assignment.errors.any? %>
<div id="error_explanation" class="ui red message">
    <i class="close icon"></i>
    <div class="header">
        <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this Assignment from being saved:</h2>
    </div>
    <ul class="list">
        <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="fields">
    <div class="required five wide field">
        <%= f.label :store_id %>
        <%= f.select :store_id, get_store_options, prompt: "Select ..." %>
    </div>
    <div class="required five wide field">
        <%= f.label :employee_id %>
        <%= f.select :employee_id, get_employee_options, prompt: "Select ..." %>
    </div>
</div>
<div class="required field">
    <%= f.label :start_date %>
    <div class="fields">
        <%= f.date_field :start_date, order: [:month, :day, :year], start_year: 20.year.ago.year, end_year: Date.today.year, class: 'datepicker' %>
    </div>
</div>
<div class="fields">
    <div class="required field">
        <%= f.label :pay_level %>
        <%= f.select :pay_level, [1,2,3,4,5,6] %>
    </div>
</div>
<p><%= f.submit class: 'ui blue basic button' %></p>
<% end %>
</br>
