<%#checks if there are any elements in the store, if so returns a table, else returns a statement %>
<% if not @active_stores.empty? %>
<table class="ui very basic collapsing celled table">
	<thead>
		<th>Store Name</th>
		<th>Store Phone</th>
		<% if can? :manage, Store %>
		<th>Staff Count</th>
		<th></th>
		<th></th>
		<% end %>
	</thead>
	<tbody>
		<% for store in @active_stores %>
		<tr>
			<td>
				<%= link_to store.name, store_path(store) %>
			</td>
			<td>
				<%= number_to_phone store.phone %>
			</td>
			<% if can? :manage, Store %>
			<td>
				<%= store.assignments.current.size %>
			</td>
			<td>
				<%= link_to 'Edit', edit_store_path(store) %>
			</td>
			<td>
				<%= link_to 'Destroy', store, data: {confirm: 'Are you sure?'}, method: :delete %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
	<tr><th colspan="6">
		<div class="ui right aligned">
			<%= will_paginate @active_stores, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next",param_name: 'active_page', class: 'itemtags' %>
		</div>
	</th>
</tr>
</tfoot>
</table>
<% else %>
<p>There are no current active stores. They should show the value of Store Name, Store Phone, and Staff Count.</p>
<% end %>