<% if not @active_jobs.empty? %>
	<table class="ui very basic collapsing celled table">
		<thead>
			<th>Job Name</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
		<% for job in @active_jobs %>
		<tr>
			<td>
				<%= link_to job.name, job_path(job) %>
			</td>
			<td>
				<%= job.description %>
			</td>
			<td>
				<%= link_to 'Edit', edit_job_path(job) %>
			</td>
			<td>
				<%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %>
			</td>
		</tr>
		<% end %>
		</tbody>
		<tfoot>

		<tr><th colspan="6">
		<div class="ui right aligned">
		<%= will_paginate @active_jobs, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next",param_name: 'active_page', class: 'itemtags' %>
		</div>
		</th>
		</tr>
		</tfoot>
	</table>
<% else %>
<p>There are no current active jobs. They should show the value of Job Name and Job Description.</p>
<% end %>