<!-- Footer partial that will appear in all pages -->
<footer>
	<div  id="footer" class="ui inverted vertical footer segment">
		<div class="ui center aligned container">
			<div class="ui horizontal inverted small divided link list">
				<% if logged_in? %>
				<%= link_to "Logout", logout_path %>
				<% else %>
				<%= link_to 'Home', home_path %>
				<% end %>
				&nbsp;&nbsp;::&nbsp;&nbsp;
				<%= link_to 'About A&M Cremary', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
				<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
				<%= link_to 'Privacy Policy', privacy_path %>
				<br/>
				<br/>
				<div>
					Webmaster: <%= mail_to("sguerrer@andrew.cmu.edu", "Sebastian Guerrero", encode: "javascript") %>
					&nbsp;&nbsp;&copy 2016
				</div>
			</div>
		</div>
	</div>
</footer>