<% if not @inactive_users.empty? %>
<table class="ui very basic collapsing celled table">
	<thead>
		<th>User Name</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<% for user in @inactive_users %>
		<tr>
			<td>
				<%= link_to user.employee.name, user_path(user) %>
			</td>
			<td>
				<%= user.email %>
			</td>
			<td>
				<%= link_to 'Edit', edit_user_path(user) %>
			</td>
			<td>
				<%= link_to 'Destroy', user, data: {confirm: 'Are you sure?'}, method: :delete %>
			</td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
	<tr><th colspan="6">
		<div class="ui right aligned">
			<%= will_paginate @inactive_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next",param_name: 'inactive_page', class: 'itemtags' %>
		</div>
	</th>
</tr>
</tfoot>
</table>
<% else %>
<p>There are no current inactive Users. They should show the value of User email.</p>
<% end %>