<div class="ui grid">
	
<div class="row">
	<div class="sixteen wide column" >

		<%= image_tag 'logo.png', class: 'ui fluid image huge centered' %>

	</div>
</div>


	<div class="row">
	<div class="six wide column">
	<h1>Find more!</h1>
	<div class="ui items">
	  <div class="item">
	    <div class="image">
	      <%= image_tag 'ice1.png', class: 'ui fluid image small' %>
	    </div>
	    <div class="content">
	      <h3>Ice Cream</h3>
	      <div class="meta">
	        <span>What we do?</span>
	      </div>
	      <div class="description">
	        <p>Having many flavors is what we do and not setting a limit to what we come up with is the result. Please enjoy our ice cream and find out more about us here.</p>
	      </div>
	    </div>
	  </div>
	  <div class="item">
	    <div class="image">
	      <%= image_tag 'ice2.png', class: 'ui fluid image small' %>
	    </div>
	    <div class="content">
	      <h3>People</h3>
	      <div class="meta">
	        <span>Who we are?</span>
	      </div>
	      <div class="description">
	        <p>We are a group of people who love to work, and provide the best tasting icecream in the northwest, and hopefully the whole nation.</p>
	      </div>
	    </div>
	  </div>
	  <div class="item">
	    <div class="image">
	      <%= image_tag 'ice3.png', class: 'ui fluid image small' %>
	    </div>
	    <div class="content">
	      <h3>Innovation</h3>
	      <div class="meta">
	        <span>What we are doing?</span>
	      </div>
	      <div class="description">
	        <p>Being differet in the ice cream world is difficult. So here at A&M Cremary we are doing all we can to do that.</p>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
		<div class="ten wide column">
			<h1>Ice Cream of the Day! Oreo</h1>
			<%= image_tag 'ice4.png', class: 'ui fluid big image', :data => { :content => "wow", :title => "Hello" }  %>
		</div>
	</div>
</div>
<br/>

