<%#checks if there are any elements in the assignments, if so returns a table, else returns a statement %>
<% if not @upcoming_shifts.empty? %>
<table class="ui very basic collapsing celled table">
	<thead>
		<th></th>
		<th>Assignment</th>
		<th>Store</th>
		<th>Employee</th>
		<th>Date</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Notes</th>
		<% if can? :update, Shift %>
		<th></th>
		<th></th>
		<% end %>
	</thead>
	<tbody>
		<% for shift in @upcoming_shifts %>
		<tr>
			<td>
				<%= link_to "view", shift_path(shift) %>
			</td>
			<td>
				<%= link_to "view", assignment_path(shift.assignment_id) %>
			</td>
			<td>
				<%= link_to shift.store.name, store_path(shift.store) %>
			</td>
			<td>
				<%= link_to shift.employee.name, employee_path(shift.employee) %>
			</td>
			<td>
				<%= shift.date.strftime("%m/%d/%y") %>
			</td>
			<td>
				<%= shift.start_time.strftime("%I:%M %p") %>
			</td>
			<td>
				<%= shift.end_time.strftime("%I:%M %p") %>
			</td>
			<td>
				<%= shift.notes == nil ? "None" : shift.notes %>
			</td>
			<% if can? :update, Shift %>
			<td>
				<%= link_to 'Edit', edit_shift_path(shift) %>
			</td>
			<td>
				<%= link_to 'Destroy', shift, data: {confirm: 'Are you sure?'}, method: :delete %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
	<tr><th colspan="6">
		<div class="ui right aligned">
			<%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next",param_name: 'upcoming_page', class: 'itemtags' %>
		</div>
	</th>
</tr>
</tfoot>
</table>
<% else %>
<p>There are no upcoming shifts..</p>
<% end %>