<!DOCTYPE html>
<html lang="en" class"gr__semantic-ui_com">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A&M Creamery - <%= params[:controller] %></title>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    
  </head>
  <body data-gr-c-s-loaded="true" class="body">
    <!-- show the header partial -->
    <div id="wrapper">
      <!-- <div id="header"> -->
      <% if logged_in? %>
      <%= render :partial => 'partials/personal_header' %>
      <% else %>
      <div id="header">
        <%= render :partial => 'partials/header' %>
      </div>
      <% end %>
      <!-- </div> -->
      <div id="content" class="pusher">
        <div class="ui main container">
          <%= render :partial => "partials/flash" %>
          <%= yield %>
        </div>
        <%= javascript_include_tag "application" %>
      </div>
      <!-- show the footer partial -->
      <%= render :partial => "partials/footer" %>
    </div>
  </body>
</html>